html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  background: rgba(0, 0, 0, 0.851);
}
canvas {
  position: absolute;
  width: 100%;
  height: 100%;
}
h3 {
  position: absolute;
  justify-content: center;
  display: flex;
  align-items: baseline;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: red;
  font-family: sans-serif;
  font-size: 12px;
  font-style: italic;
}